<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Calculation page{% endblock %}</title>
        <script src="{{ asset('jquery/jquery-3.3.1.js') }}"></script>
        <script src="{{ asset('calculation/calculation.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/dist/css/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/dist/css/bootstrap-grid.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="row">
                {% block body %}{% endblock %}
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
