{% extends '@App/base.html.twig' %}

{% block body %}
    {{ form_start(form, {attr: {id: 'calculationForm'}}) }}
    <div class="form-group">
        {{ form_label(form.creditTerm) }}
        {{ form_widget(form.creditTerm, {attr: {class: 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.ratePercentage) }}
        {{ form_widget(form.ratePercentage, {attr: {class: 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.sumValue) }}
        {{ form_widget(form.sumValue, {attr: {class: 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.firstCreditPaymentDate) }}
        {{ form_widget(form.firstCreditPaymentDate, {attr: {class: 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.submit, {attr: {class: 'form-control'}}) }}
    </div>
    {{ form_end(form) }}

    <table class="table" style="display: none;">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Month</th>
            <th scope="col">Payment date</th>
            <th scope="col">Total Debt</th>
            <th scope="col">Debt %</th>
            <th scope="col">Payment value</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}
